body {
    padding: 20px;
    background: #5CD;
    word-break: break-all;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.bold {
    font-weight: bold;
}

.tree-wrap {
    display: inline-block;
    /*width: 360px;*/
    /*height: 555px;*/
    padding: 5px;
    border: 1px solid #02B;
    vertical-align: bottom;
    background: #fff;
}

.x-tree-item {
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.x-tree-item-children {
    padding-left: 1.5em;
    line-height: 1.5em;
}

.x-tree-item-editor {
    font-size: 14px;
}

.fa {
    width: 14px;
}

.icon-blank {
    display: inline-block;
    font-size: 14px;
    width: 1em;
}











.iconfont {
    padding-right: 0;
    font-size: 14px;
    line-height: 1.42;
    vertical-align: baseline;
    cursor: pointer;
}


.icon-expand:before {
    content: "\e61d";
}

.icon-shrink:before {
    content: "\e61e";
}

.icon-checked:before {
    content: "\e617";
}

.icon-unchecked:before {
    content: "\e616";
}

.icon-edit:before {
    content: "\e603";
}