
//成套css
@mixin opacity($opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

@mixin inlineBlock() {
  display: inline-block;
  vertical-align: top;
}


//函数
@function set-notification-text-color($color) {
  @if (lightness($color) < 70) {
    @return $fontColorLight;
  } @else {
    @return $fontColorDeep;
  }
}


//全局变量    主题
$baseColorMain:#3399CC;
$baseColorSecond:#336699;
$baseColorThird:#99CC33;
$fontColorDeep:#111111;
$fontColorLight:#fff;
$borderColorDeep:#666;
$borderColorLight:#ddd;
$bgColorDeep:#ccc;
$bgColorLight:#f4f4f4;


$radiusLevel:8px;





//颜色数组
$colors: (
    red: #FF0000,
    darkred: #8B0000,
    mediumvioletred: #C71585,
    indianred:#CD5C5C,
    blue:#0000FF,
    cadetblue:#5F9EA0,
    cornflowerblue:#6495ED,
    darkblue:#00008B,
    darkslateblue:#483D8B,
    green:#008000,
    darkgreen:#006400,
    darkolivegreen:#556B2F,
    darkseagreen:#8FBC8F,
    yellow:#FFFF00,
    greenyellow:#ADFF2F,
    orange:#FFA500,
    darkorange:#FF8C00,
    purple:#800080,
    mediumpurple:#9370DB,
);



//样式-字体
$baseFontSize: 14;
$minFontSize: 12;
$maxFontSize: 36;
$fontSizeUnit: px;


@for $i from $minFontSize through $maxFontSize {
  .x-font-#{$i} { font-size: #{$i}$fontSizeUnit; }
}

.x-font-small {font-size: smaller}
.x-font-large {font-size: larger;}


//样式-颜色

@each $key, $value in $colors {
  .x-color-#{$key} {color:$value;}
}


//样式-基础css

.x-style-textCenter {text-align: center;}
.x-style-textLeft {text-align: left;}
.x-style-textRight {text-align: right;}

.x-style-floatRight {float: right;}
.x-style-floatLeft {float: left;}

//样式-按钮
.x-button {display: inline-block;background-color: $baseColorMain;color:set-notification-text-color($baseColorMain);border-radius: 5px;cursor: pointer;}
.x-button:hover{background-color:darken($baseColorMain,10%)}
.x-button-large {padding: 10px 20px;}
.x-button-middle {padding: 5px 10px;}
.x-button-small {padding: 2px 4px;}
@each $key, $value in $colors {
  .x-button-#{$key} {background-color:$value;color:set-notification-text-color($value);}
  .x-button-#{$key}:hover{background-color:darken($value,20%);}
}

%border{
  border:2px solid $borderColorDeep;
}

.x-button i{margin-right:10px;}


//结构-面板
.x-panel {
  border: 1px solid $borderColorDeep;
  overflow: auto;
  border: {
    top: {
      //left-radius: $radiusLevel;
      right-radius: $radiusLevel;
    }
  }
}
.x-panel-title {background-color: $baseColorThird;font-size: 20px;color: set-notification-text-color($baseColorThird);padding: 10px;}
.x-panel-content {padding: 10px;}


//结构-标题
.x-title {font-size: 20px;border-bottom: 1px solid $borderColorLight;width: 100%;display: inline-block;}


//结构-标签
.x-tab-nav{border-bottom:1px solid #ddd;}
.x-tab-nav li{display:inline-block;margin-bottom:-1px;}
.x-tab-nav li a{display:block;padding:5px 10px;color:#333;}
.x-tab-nav li.x-active a{color:#026b9c;background:#fff;border-radius:5px 5px 0 0;border:1px solid $borderColorLight;border-bottom-color:transparent;}
.x-tab-contents{padding:10px;border-bottom:1px solid $borderColorLight;}
.x-tab-content{display:none;}
.x-tab-content.x-active{display:block;}


//结构-导航
.x-nav{width:180px;color:$fontColorLight}
.x-nav-head{display:block;height:45px;line-height:45px;padding-left:10px;font-size:16px;background:#444d58;}
.x-nav-body{display:none;}
.x-nav-body a{display:block;height:35px;line-height:35px;padding-left:10px;background:#353b45;color:#9ca3ac;font-size:#{$baseFontSize}$fontSizeUnit;cursor:pointer;}
.x-nav-body a:hover{background:#777f89;color:$fontColorLight;}


//样式-表单元素
.x-form-item input{ padding: 1px 5px;   border-radius: 3px; border: 1px solid $borderColorDeep; height: 25px;}
.x-form-item{margin-top: 20px;}
.x-form-submit{padding: 3px 10px;margin-bottom: 20px;}

//样式-提示
.x-alert{padding:10px;margin:10px 0;border:1px solid $borderColorDeep;border-radius:4px;}

@each $key, $value in $colors {
  .x-alert-#{$key} {background-color:lighten($value,15%);border-color:$value;color:set-notification-text-color($value);}
}


//样式-分页器
.x-page {line-height: 28px;}
.x-page-total {@include inlineBlock;}
.x-page-pages {@include inlineBlock;float: right;border-right: 1px solid $borderColorDeep;color: $baseColorMain;}
.x-page-pages li,.x-page-pages select{float: left;padding:0 15px;border: 1px solid $borderColorDeep;border-right: none;cursor: pointer;}
.x-page-pages select{height: 30px;}
.x-page-pages .x-active,.x-page-pages li:hover{color:set-notification-text-color($baseColorMain);background: $baseColorMain;}



//插件-图片操作图标
.x-imgView-recover{background:url("../sprite/square.png") no-repeat}
.x-imgView-magnify{background:url("../sprite/enlarge.png") no-repeat}
.x-imgView-shrink{background:url("../sprite/narrow.png") no-repeat}
.x-imgView-rotate{background:url("../sprite/Refresh_1.png") no-repeat}
.x-imgView-left{background:url("../sprite/Left.png") no-repeat}
.x-imgView-right{background:url("../sprite/right.png") no-repeat}
.x-imgView-close{background:url("../sprite/close_1.png") no-repeat}
.x-imgView-loading{background:url("../img/load.gif") no-repeat}

//插件-表格
.x-table{width:100%;border-collapse: collapse;margin:20px 0;}
.x-table thead {background:$bgColorLight;}
.x-table th,.x-table td{height:36px;border:1px solid $borderColorLight;font-size:#{$baseFontSize}$fontSizeUnit;}
.x-table-interval tr:nth-child(even) > td{background:$bgColorLight;}
.x-table-hover tr:hover{background: $bgColorLight;}

//插件-弹窗
.x-pop-main{position:absolute;width:600px;box-sizing:border-box;padding:15px;background:#fff;top:0;border-radius:4px;z-index:30}

.x-pop-layer{position:fixed;width:100%;height:100%;top:0;background:rgba(0,0,0,0.2);z-index:20}
.x-pop-close{position:absolute;right:15px;top:15px;cursor:pointer}
.x-pop-close i{font-size:20px;}
.x-pop-title{ height:30px;line-height:30px;padding-left:10px;border-bottom:1px solid #eee;font-size:16px;font-weight:bold;color:#666;}
.x-pop-content{padding:10px;border-bottom:1px solid #eee;max-height:600px;overflow:auto;}
.x-pop-button{text-align: right;font-size:14px;}
.x-pop-button button{display:inline-block; width:40px;height:24px;line-height:24px; text-align:center; margin-left:10px; margin-top:15px;border:none; color:#fff;outline:none; cursor:pointer}
.x-pop-button button:hover{background:#33aacb}




//封装-图标
.x-icon-list{padding:10px;}
.x-icon-list li{display:inline-block;vertical-align:top;width:80px;height:100px;padding:10px 0;text-align:center;background:#f9f9f9;}
.x-icon-list li i,.x-icon-list li span{display:block;}


//插件-文件上传
ol, ul { list-style: none; }
#x-uploader .x-queueList { display: inline-block; }

#x-uploader .element-invisible { position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px,1px,1px,1px); }

#x-uploader .x-placeholder .webuploader-pick { font-size: 18px; background: #00b7ee; border-radius: 3px; line-height: 44px; padding: 0 30px; color: #fff; display: inline-block; margin: 20px auto; cursor: pointer; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
#x-uploader .x-placeholder .webuploader-pick-hover { background: #00a2d4; }
#x-uploader .x-placeholder .flashTip { color: #666666; font-size: 12px; position: absolute; width: 100%; text-align: center; bottom: 20px; }
#x-uploader .x-placeholder .flashTip a { color: #0785d1; text-decoration: none; }
#x-uploader .x-placeholder .flashTip a:hover { text-decoration: underline; }
#x-uploader .x-placeholder.webuploader-dnd-over { border-color: #999999; }
#x-uploader .x-placeholder.webuploader-dnd-over.webuploader-dnd-denied { border-color: red; }
#x-uploader .x-filelist { list-style: none; margin: 0; padding: 0; }
#x-uploader .x-filelist:after { content: ''; display: block; width: 0; height: 0; overflow: hidden; clear: both; }
#x-uploader .x-filelist li { width: 110px; height: 110px; background: url(../../img/bg.png) no-repeat; text-align: center; margin: 0 8px 20px 0; position: relative; display: inline; float: left; overflow: hidden; font-size: 12px; }
#x-uploader .x-filelist li p.log { position: relative; top: -45px; }
#x-uploader .x-filelist li p.title { position: absolute; left: 0; width: 100%; overflow: hidden; white-space: nowrap; text-overflow : ellipsis; top: 5px; color: #000; font-size: 16px; text-indent: 5px; text-align: center; }
#x-uploader .x-imgFile{display: inline-block;}
@-webkit-keyframes progressmove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 17px 0;
  }
}
@-moz-keyframes progressmove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 17px 0;
  }
}
@keyframes progressmove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 17px 0;
  }
}
#x-uploader .x-filelist li p.imgWrap { position: relative; z-index: 2; line-height: 110px; vertical-align: middle; overflow: hidden; width: 110px; height: 110px; -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; -webit-transition: 200ms ease-out; -moz-transition: 200ms ease-out; -o-transition: 200ms ease-out; -ms-transition: 200ms ease-out; transition: 200ms ease-out; }
#x-uploader .x-filelist li img { width: 100%; }
#x-uploader .x-filelist li p.error { background: #f43838; color: #fff; position: absolute; bottom: 0; left: 0; height: 28px; line-height: 28px; width: 100%; z-index: 100; }
#x-uploader .x-filelist li .success { display: block; position: absolute; left: 0; bottom: 0; height: 40px; width: 100%; z-index: 200; background: url(../../img/success.png) no-repeat right bottom; }
#x-uploader .x-filelist div.file-panel { position: absolute; height: 0; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0; background: rgba( 0, 0, 0, 0.5 ); width: 100%; top: 0; left: 0; overflow: hidden; z-index: 300; }
#x-uploader .x-filelist div.file-panel span { width: 24px; height: 24px; display: inline; float: right; text-indent: -9999px; overflow: hidden;background: url(../../img/icons.png) no-repeat; margin: 5px 1px 1px; cursor: pointer; }
#x-uploader .x-filelist div.file-panel span.rotateLeft { background-position: 0 -24px; }
#x-uploader .x-filelist div.file-panel span.rotateLeft:hover { background-position: 0 0; }
#x-uploader .x-filelist div.file-panel span.rotateRight { background-position: -24px -24px; }
#x-uploader .x-filelist div.file-panel span.rotateRight:hover { background-position: -24px 0; }
#x-uploader .x-filelist div.file-panel span.cancel { background-position: -48px -24px; }
#x-uploader .x-filelist div.file-panel span.cancel:hover { background-position: -48px 0; }

#x-uploader .x-statusBar div{display: inline-block;vertical-align: middle;}
#x-uploader #x-filePicker-add{display: inline-block;}
#x-uploader .x-uploadBtn{ margin-left: 10px; position: relative; display: inline-block; cursor: pointer; background: #00b7ee; padding: 10px 15px; color: #fff; text-align: center; border-radius: 3px; overflow: hidden; }

#x-uploader .retry{color: red;}
#x-uploader .ignore{color: red;}


#x-uploader .webuploader-container {
  position: relative;
}
#x-uploader .webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px,1px,1px,1px);
}
#x-uploader .webuploader-pick {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #00b7ee;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}
#x-uploader  .webuploader-pick-hover {
  background: #00a2d4;
}

#x-uploader .webuploader-pick-disable {
  opacity: 0.6;
  pointer-events:none;
}



//todo 结构写好几个   code插件套进来   主题变化的实现(圆角 颜色)

