/*主题*/
$baseColorMain:#3399CC;
$baseColorSecond:#336699;
$baseColorThird:#99CC33;
$borderColorDeep:#333;
$borderColorLight:#666;
$bgColorDeep:#ccc;
$bgColorLight:#fff;


$radiusLevel:8px;


/*颜色数组*/
$colors: (red: #FF0000, darkred: #8B0000, mediumvioletred: #C71585,indianred:CD5C5C);



/*样式-字体*/
$baseFontSize: 14;
$minFontSize: 12;
$maxFontSize: 36;
$fontSizeUnit: px;


@for $i from $minFontSize through $maxFontSize {
  .x-font-#{$i} { font-size: #{$i}$fontSizeUnit; }
}


/*样式-颜色*/
.x-color-red {color:red;}
.x-color-darkred {color:darkred;}
.x-color-mediumvioletred {color:mediumvioletred;}
.x-color-indianred {color:indianred;}
.x-color-blue {color:blue;}
.x-color-cadetblue {color:cadetblue;}
.x-color-cornflowerblue {color:cornflowerblue;}
.x-color-darkblue {color:darkblue;}
.x-color-darkslateblue {color:darkslateblue;}
.x-color-green {color:green;}
.x-color-darkgreen {color:darkgreen;}
.x-color-darkolivegreen {color:darkolivegreen;}
.x-color-darkseagreen {color:darkseagreen;}
.x-color-yellow {color:yellow;}
.x-color-greenyellow {color:greenyellow;}
.x-color-orange {color:orange;}
.x-color-darkorange {color:darkorange;}
.x-color-purple {color:purple;}
.x-color-mediumpurple {color:mediumpurple;}

/*样式-基础css*/

.x-style-textCenter {text-align: center;}
.x-style-textLeft {text-align: left;}
.x-style-textRight {text-align: right;}

.x-style-floatRight {float: right;}
.x-style-floatLeft {float: left;}

/*样式-按钮*/
.x-button {}


/*结构-面板*/
.x-panel {border: 1px solid $borderColorDeep;border-top-right-radius: $radiusLevel;border-top-left-radius: $radiusLevel;}
.x-panel-title {background-color: $baseColorThird;}
