
@import "../../common/var";


.x-tip{
  position:relative;
  cursor: pointer;
}


.x-tip-content{
  position:absolute;
  padding:10px;
  background:rgba(0,0,0,0.8);
  border-radius:4px;
  color:$fontColorLight;
  z-index:$zIndexMax;
}

