@charset "UTF-8";
/*主题*/
/*样式-字体*/
.x-font-12 {
  font-size: 12px; }

.x-font-13 {
  font-size: 13px; }

.x-font-14 {
  font-size: 14px; }

.x-font-15 {
  font-size: 15px; }

.x-font-16 {
  font-size: 16px; }

.x-font-17 {
  font-size: 17px; }

.x-font-18 {
  font-size: 18px; }

.x-font-19 {
  font-size: 19px; }

.x-font-20 {
  font-size: 20px; }

.x-font-21 {
  font-size: 21px; }

.x-font-22 {
  font-size: 22px; }

.x-font-23 {
  font-size: 23px; }

.x-font-24 {
  font-size: 24px; }

.x-font-25 {
  font-size: 25px; }

.x-font-26 {
  font-size: 26px; }

.x-font-27 {
  font-size: 27px; }

.x-font-28 {
  font-size: 28px; }

.x-font-29 {
  font-size: 29px; }

.x-font-30 {
  font-size: 30px; }

.x-font-31 {
  font-size: 31px; }

.x-font-32 {
  font-size: 32px; }

.x-font-33 {
  font-size: 33px; }

.x-font-34 {
  font-size: 34px; }

.x-font-35 {
  font-size: 35px; }

.x-font-36 {
  font-size: 36px; }

/*结构-面板*/
.x-panel {
  border: 1px solid #333;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px; }

.x-panel-title {
  background-color: #99CC33; }
