@import "../mixin/button";
@import "../mixin/transition";
@import "variables";

$height: 60px;

@mixin goBack {
  height: 30px;
  width: 30px;
  border-radius: $borderRadius;
}

@mixin menuBtn {
  cursor: pointer;
  &:hover {
    background-color: $hover;
  }
}

.menu-bar {
  height: $height;
  position: relative;

  .menu-bar-normal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:$height+1;
    border-bottom: 1px solid #babbbe;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .42);
    position: relative;
    z-index: 50;

    .go-back,
    .type-filter,
    .condition-filter {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 20px;
    }
  }

  .multiple-menu-bar {
    width: 100%;
    height:$height;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    display: none;
  }

  .button {
    color: $buttonTextColor;
  }
}

.go-back {
  .back-btn,
  .next-btn {
    @include goBack;
    @include menuBtn;
  }

  .back-btn {
    margin-right: 5px;
    background: url("../../assets/prev.png") no-repeat 50% 50%;
  }
  .next-btn {
    margin-left: 5px;
    background: url("../../assets/next.png") no-repeat 50% 50%;
  }
}

// 类型过滤
.type-filter {
  &>div {
    padding: 0 20px;
    height: $height;
    display: flex;
    align-items: center;

    @include menuBtn
  }
}

// 条件过滤
.condition-filter{
  .onlyMarked,
  .selectPeople,
  .selectDate,
  .multipleHandle {
    height: $height;
    display: flex;
    padding: 0 25px;
    align-items: center;
    @include menuBtn;
  }
}

.multiple-menu-bar {
  .has-chose-count-box,
  .multiple-menu-btns {
    margin: 0 20px;
  }

  .has-chose-count-box {
    padding-left: 20px;
  }
  .multiple-menu-btns {
    & .button {
      margin: 0 13px;
    }
    & .separator-line {
      margin: 0 13px;
    }
  }
}

.separator-line {
  color: $lightGray;
}
