.sidebar {
  width: 290px;
  height: 100%;
  position: relative;
  box-shadow: 2px 0 4px 0 rgba(10, 10, 10, .14);
  border-radius: 4px 0 0 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translateZ(0);

  .sidebar-inner,
  .sidebar-blank {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
  }
  .sidebar-blank {
    position: absolute;
    top:0;
    left: 0;
    display: none;
  }
  .folder-count {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    color: #aeb0b8;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .folder-list {

  }
}

.folder-item {
  padding: 20px 20px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all .1s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  &:first-child {
    border-top: none;
    &:hover {
      border-top: none;
    }
  }

  &:hover {
    background: #dbedf8;
    border-top: 1px solid #95ccf8;
    border-bottom: 1px solid #95ccf8;
  }

  .icon-folder {
    width: 40px;
    height: 40px;
    background: url("../../assets/con_but_midfile.png") no-repeat 50%;
    margin-right: 10px;
  }
  .folder-info {
    .folder-name {
      font-size: 16px;
      color: #000;
      margin-bottom: 5px;
    }
    .folder-children-count {
      color: rgba(0, 0, 0, .5);
      font-size: 14px;
    }
  }
}