$blue: #4c9ddc;
$hover: #e2eff9;

$orange: #ff9b6b;
$gray: #b5b7bb;
$lightGray: #ccd1d6;
$hoverBg: #edf5fb;
$activeBg: #dbebf8;
$activeBorder: #95ccf8;
$buttonTextColor: #fff;
$borderRadius: 4px;

$bg: #f0f2f6;