
@import "../common/var";


.x-panel {
  border: 1px solid $borderColorDeep;
  overflow: auto;
  border: {
    top: {
      left-radius: $borderRadiusLevel;
      //right-radius: $borderRadiusLevel;
    }
  }
}
.x-panel-title {background-color: $baseColorMain;font-size: 20px;color: negative($baseColorMain);padding: 10px;}
.x-panel-content {padding: 10px;}
